body,
h1,
h3 {
    font-family: 'FigTree', sans-serif;
}

h1 {
    font-weight: bolder;
}

.row {
    margin-bottom: 10px;
}

.primary-color {
    color: rgb(235, 62, 10);
}

.primary-bg-color {
    background-color: rgb(235, 62, 10);
    color: white;
}

.main-result .result-value{
    font-size: 4em;
}

.result-cost-distribution .result-data-title{
    font-size: 1.6em;
}

.result-cost-distribution .result-value{
    font-size: 1.6em;
}

.result-section-title {
    font-size: 2em;
    font-weight: bold;
}

.result-data-title {
    font-size: 1.3em;
    font-weight: bold;
}

.costs-tiles .result-value {
    font-size: 1.5em;
}

.container-box {
    max-width: 1200px;
    margin: auto;
}

.text-right {
    text-align: right;
}

#truck-roll-form label {
    font-size: 1.2em;
}

.share-icons i,
#share-link {
    color: rgb(235, 62, 10);
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

.error-input {
    border-color: red;
}

a,
a:hover {
    color: #6c757d
}